
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color: rgb(60,150,50)">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>About Me</h1>
                   <hr class="small">
                   <span class="subheading">This is what I do.</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  June of 2015 I began The Odin Project in any spare moment that I could get. 600 hours of learning, studying and programming later and I had completed the course. That was January 2016. Since then I have been putting my skills to good use and expanding on the knowledge that I have.<br><br>

ABC, Always Be Coding has been a great principal to live by. I always have some project that I am working on. Some are more 'coding' intensive than others but all are tech based and require intuitive and forward thinking to solve a problem.<br><br>

I created Code Recon to be a beacon to other introductory level programmers. Coming up on a year of coding I can hopefully relate well to other new programmers and the issues that they may be facing.<br><br>

Sometimes, when one has been using a technology for many years they can develop blind spots for particular problems that new comers face. I would like to address those when they come up for me so that others don't have to make the same mistakes.<br><br>

I am an inventor. My tools are languages and technologies and my end projects are structures of logic that direct an endless stream of 1's and 0's down the internet highway.<br><br>

Please don't hesitate to get in touch!

       </div>
   </div>
</div>
