<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color: rgb(48, 10, 36);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 style="text-shadow: 2px 2px 2px black">Mk II has arrived</h1>
                    <h2 class="subheading"style="text-shadow: 2px 2px 2px black">A concise explanation of site redesign</h2>
                    <span class="meta"style="text-shadow: 2px 2px 2px black">Posted by <a href="#">Kyle White</a> on April 15th, 2016</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

Code Recon has been redesigned.<br><br>

It was time for an overhaul. In the past 3 months since the first iteration I have leared a lot about web development.<br><br>

While the last iteration of this website did showcase my HTML, CSS and JS knowledge, I was just not particularly happy with the end result.<br><br>


And so Code Recon Mark II was born. Obviously a knowledge of HTML and CSS will be useful for me in maintainting the site and adding features as Code Recon grows but it will not be the focous. On top of this, my authentication system has been replaced by devise. As much as I enjoyed implementing the system, I want my site to be as secure as possible. <br><br>

All of my code for Code Recon Mark I is still available on GitHub.<br><br>

The current build is based on bootstrap's clean blog.<br><br>

What I had previously accomplished for mobile formatting with the mobile-fu gem is now completely taken care of by bootstrap's fully responsive framework. Why reinvent the wheel right?<br><br>

I have also migrated from Heroku to AWS. Heroku definetly keeps things easy, but at the cost of customization options. I have really enjoyed getting my hands dirty with AWS and look forward to integrating EC3 with my current EC2 instances.






            </div>
        </div>
    </div>
</article>
