<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color: rgb(48, 10, 36);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 style="text-shadow: 2px 2px 2px black">January in Review</h1>
                    <h2 class="subheading"style="text-shadow: 2px 2px 2px black">System Calls, Memory, and Operating Systems</h2>
                    <span class="meta"style="text-shadow: 2px 2px 2px black">Posted by <a href="#">Kyle White</a> on February 4th, 2017</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

Lately I have deviated from creating specfic applications into the world of learning. In an effort to work through what the real benefits are of my recent studies, I am taking a moment to reflect on the month of January. Without stopping to reflect on how I am spending my time and resources, it can be easy to start down an unproductive track. 
<br><br>
When asked how I learn best, I will always say through doing. But in order to do something you must first understand what it is you are working with. This past month has been spent much more in the learning realm than in the applied sciences. 
<br><br>
Main study materials include the following resources:
<br><br>
http://cs.ucsb.edu/~koc/cs32/docx/memorybook.pdf
http://pages.cs.wisc.edu/~remzi/OSTEP/
https://chirath02.wordpress.com/2016/08/24/hello-world-system-call/
<br><br>
While trying to understand the linux operating system I began with trying to learn how processes are managed and run and created my own system call and recompiled the linux kernel and then tested it using the chirath resource. 
<br><br>
This caused me to realize how little I understand about memory usage and allocation. This book was a little over my head but I made it through the first few chapters. My favorite excercise from this book was the idea of literally adding 1 to binary blocks in a memory block and then not tripping the < 256 operator because the block would revert back to all 0's. 
<br><br>
From here, In an effort to understand what the Operating System is doing as a whole I found myself at the one of the University of Wisconsin's CS pages, an advanced overview of operating systems. It was fascinating to run the fork command to split a process into two processes and then watch how each of the fololowing programs reacted. 
<br><br>
My next move is into think os at greenteapress.com/thinkos to get a more broad view of Operating Systems at a level that I may be more apt to apply.



            </div>
        </div>
    </div>
</article>
